@model System.Collections.Generic.IEnumerable<Bloggie.Models.Domain.BlogPost>
@{
    ViewData["title"] = "Blogposts";
}


<div class="bg-opacity-10 py-2">
    <div class="container">
        <h1>Blogposts List - Admin Functionality</h1>
    </div>
</div>

@if (Model != null && Model.Any())
{
    
    <div class="py-2">
        <table class="table table-striped">
            <thead>
            <th>Id</th>
            <th>Title</th>
            <th>Tags</th>
            <th> </th>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PageTitle</td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <div class="badge bg-primary">@tag.Name</div>
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-area="" asp-controller="AdminBlogPost" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="container py-5">No Blogposts exist</div>
}
